@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This website was put together by Siim Liinat for the course "Programming in C#" using Razor Pages.</p>
<p>Home page battleship cover art taken from: https://www.pinterest.com/pin/484418503653265362/.</p>